* {
    margin: 0;
    padding: 0px;
    
}

body {
    background: lightgray; 
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
    width: 70%; 
    margin: 0px auto; 
    border: 1px solid black; 

}

header {
    background: red;
    height: 100px; 
    width: 100%;
    border-bottom: 3px solid black;
    margin: 0px; 
    text-align: center;
    line-height: 100px;
    color: white;

}

nav {
    background: cyan;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left; 
    margin: 10px;
    list-style: none;
    line-height: 30px;
}

.clear {
    clear: both;

}

#contenido { 
    float: left; 
    width: 70%; 
    background: green;
}

aside {
    float: left;
    width: calc(30% -20px);
    background: orange;
    min-height: 500px;
    padding: 0px 10px 0px 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px; 
    line-height: 50px;
}

.article {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid yellow;
    padding-bottom: 10px;
}

.article:first-child {
    border-top: 1px solid yellow;
    padding-top: 10px;
}

.article h2 {
    font-size: 30px;
}